// app global css in SCSS form

@import 'pretendard/dist/web/variable/pretendardvariable.css';

body {
  color: $grey-5;
  --statusbar-h: 0px;
  --main-header-h: 55px;
  --header-h: 50px;
  text-underline-offset: 4px;
  font-weight: 400;
}
.q-header + .q-page-container {
  padding: 0;
  // statusbar height + QHeader height
  padding-top: calc(var(--statusbar-h) + var(--header-h));
  .q-page {
    min-height: calc(100vh - var(--statusbar-h) - var(--header-h));
  }
}
.main-layout .q-page-container {
  // padding-top: calc(var(--statusbar-h) + var(--main-header-h)) !important;
  padding-top: 0 !important;
  .q-page {
    // min-height: calc(
    //   100vh - var(--statusbar-h) - var(--main-header-h)
    // ) !important;
    min-height: 100vh !important;
  }
}

// -------- q-btn -----------//
.q-btn {
  &.disabled {
    background: $grey-1 !important;
    color: $grey-2 !important;
  }
}

.q-btn--standard {
  background: $primary;
  color: white;
  // &::before {
  // box-shadow: none;
  // }

  &:hover {
    background: $primary;
    color: white;
  }
  &.disabled {
    background: $grey-2 !important;
    color: $grey-3 !important;
  }
}

.q-btn--outline-grey::before {
  border-color: $grey-1 !important;
}
// -------- q-tab -----------//
.q-tab--inactive {
  opacity: 1;
}

// -------- q-input -----------//
.q-input {
  &.q-field--outlined .q-field__control:before {
    border: none !important;
    // border-color: transparent !important;
    // border-width: 1px;
  }
  &.q-field--outlined .q-field__control {
    color: $grey-5;
  }

  .q-field__marginal {
    height: 44px;
  }

  .q-field__control {
    padding: 0 20px;
    border-radius: 23px !important;
    height: 44px !important;
    background: white;

    input::placeholder {
      /* WebKit, Blink, Edge */
      color: $grey-2;
      font-size: 14px;
    }

    input[type='password'] {
      font-family: '-apple-system', 'Helvetica Neue', Helvetica, Arial,
        sans-serif !important;
    }
  }

  .q-field__append {
    padding: 0;
  }
  .q-field__bottom {
    font-family: 'Pretendard Variable';
    margin-top: 2rem;
  }
}
.q-textarea {
  &.q-field--outlined .q-field__control:before {
    border: none !important;
    // border-color: transparent !important;
    // border-width: 1px;
  }
  &.q-field--outlined .q-field__control {
    color: $grey-5;
  }

  .q-field__marginal {
    height: 44px;
  }
  .q-field__control {
    padding: 0;
    border-radius: 15px !important;
    background: white;

    textarea::placeholder {
      /* WebKit, Blink, Edge */
      color: $grey-2;
      font-size: 14px;
    }
  }
}
.q-expansion-item__container {
  .q-item {
    // padding: 24px 14px 24px 24px;
    min-height: 67px;
  }
}

input:focus {
  outline: none;
}
input::placeholder {
  /* WebKit, Blink, Edge */
  color: $grey-2;
  font-size: 14px;
}

// -------- q-card -----------//
.q-card {
  border-radius: 5px;
}

// -------- q-tab -----------//
.q-tab {
  .q-tab__icon {
    width: 40px;
    height: 40px;
  }
  .q-tab__label {
    font-size: 10px;
    line-height: 1.715em;
    font-weight: 300;
    color: $grey-5;
  }
  .q-tab__indicator {
    background-color: white;
  }

  &.q-tab--active {
    .q-tab__label {
      font-weight: 500;
      color: $primary;
    }
  }
}
// -------- q-dialog -----------//

.full-dialog {
  .q-dialog__inner {
    &.q-dialog__inner--minimized {
      padding: 0px;
    }
  }
}

// -------- term -----------//
.term-content {
  word-break: break-word;

  h1,
  h2,
  h3 {
    font-weight: 400;
    margin: 1rem 0;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    margin-bottom: 0.75rem;
  }
}

.q-notification {
  border-radius: 15px;
}

@import './tiptap.scss';
