/* Tiptap editor styles */
.editor__content .tiptap,
.tiptap-editor {
  outline: none;

  font-family: 'Pretendard Variable';
  font-weight: 400;

  color: black;

  // > * + * {
  //   margin-top: 0.75em;
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: 14px;
    font-weight: 400 !important;
    line-height: 1.25rem;
    padding: 0.1rem 1.5rem;
  }
  h1 {
    font-size: 17px;
  }
  h2 {
    font-size: 15px;
  }

  p {
    display: block;

    /* When p tag is empty, add a space */
    &:empty:before {
      content: ' ';
      white-space: pre;
    }
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li {
      display: list-item;

      p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    border-radius: $generic-border-radius;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    margin: 1rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  mark {
    background-color: #faf594;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  hr {
    margin: 1rem 0;
  }

  blockquote {
    border-left: 2px solid rgba($grey-5, 0.1);
    margin: 1rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 2px solid rgba($grey-5, 0.1);
    margin: 1.5rem 0;
  }

  // hyperlink
  a {
    color: $primary;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $accent;
    }
  }
}
